body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styling Cards  */
.d-grid.gap-2 {
  text-align: center;
  padding-top: 50px;
}

.cardImgs {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* header styles */
header {
  padding-bottom: 3rem !important;
}

.logo {
  padding-left: 10px;
}

button.navbar-toggler.collapsed,
button.navbar-toggler {
  margin-right: 10px;
}

div#responsive-navbar-nav {
  margin-left: 10px;
  margin-right: 10px;
}

.navbar,
.me-auto.navbar-nav {
  gap: 20px;
}

/* styles for the box that wraps 
around the main body of our app */
.structure {
  padding: 40px 0;
}

#appBox {
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 10px;
}

button.btn.btn-success.btn-lg,
button#updateCollegeModuleBtn {
  border-radius: 0.25rem;
}

/* styles for the NewCollegeModuleForm AND SingleCollegeModule components */
.moduleAddCancelBtns {
  padding-top: 20px;
}

.moduleAddCancelBtns,
.moduleEditBtn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#addModuleBtn,
#editModuleBtn,
#certainlyDeleteModuleBtn,
#updateCollegeModuleBtn {
  flex-grow: 4;
}

button#addModuleBtn,
#editModuleBtn,
button#deleteModuleBtn,
#certainlyDeleteModuleBtn,
#updateCollegeModuleBtn {
  padding-top: 10px;
  padding-bottom: 10px;
}

#cancelModuleBtn {
  flex-grow: 1;
}

.moduleTitle {
  display: flex;
}

/*styles the footer component*/
footer,
.d-flex,
#footer-icons {
  display: flex;
  text-align: center;
  justify-content: center;
}
