body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styling Cards  */
.d-grid.gap-2 {
  text-align: center;
  padding-top: 50px;
}

.cardImgs {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* header styles */
header {
  padding-bottom: 3rem !important;
}

.navbar,
.me-auto.navbar-nav {
  gap: 20px;
}

/* styles for the box that wraps 
around the main body of our app */
.structure {
  padding: 40px 0;
  text-align: center;
}
#appBox {
  border: 1px solid lightgrey;
  padding: 20px;
  border-radius: 10px;
}

/* styles for the NewCollegeModuleForm component */
.moduleAddCancelBtn {
  display: flex;
  justify-content: space-between;
}

#addModuleBtn {
  flex-grow: 4;
}

#cancelModuleBtn {
  flex-grow: 1;
}

/*styles the footer component*/
footer,
.d-flex,
#footer-icons {
  display: flex;
  text-align: center;
  justify-content: center;
}
